.subsc-prdt-detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.sub-prdt-thumb{
    width: 100px;
    border: #eaeaea solid 1px;
}
.sub-prdt-thumb img{
    width: 100px;
    height: auto;

}

.sub-prdt-name{
    font-size: 20px;
}

.sub-prdt-details{
    display: flex;
    flex-direction: column;    
    padding-left: 10px;
}

.subsc-detail-page{
    margin-top: 50px;
}
.sub-prdt-thumb-full{
    width: 250px;
    border: #eaeaea solid 1px;
}
.sub-prdt-thumb-full img{
    width: 250px;
    height: auto;

}

.subsc-detail-page .subsc-prdt-detail{
    align-items: flex-start;
}

.subsc-detail-page .sub-prdt-details{
    padding-left: 30px;
}
.subsc-detail-page .sub-prdt-price-schedule{
    font-weight: 400;
}

.subsc-detail-page .subscription-status{
    padding-top: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.subsc-detail-page .subscription-status img{
    display: inline-block;
    margin-right: 5px;
}



.subscription-actions{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.subscription-actions a{
    display: inline-flex;
    margin-right: 20px;
}

.upcoming-delivery{
    margin-top: 30px;
    background: #eaeaea;
    padding: 30px;
}

.upcoming-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.upcoming-inner{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.upcoming-inner .icon-wrapper img{
    width: 30px;
    height: auto;
}

.upcoming-inner .upcoming-details{
    padding-left: 10px;
}
.upcoming-inner .upcoming-details p{
    font-size: 14px;
    margin-bottom: 0px;
}

.past-deliveries{
    margin-top: 50px;
}
ul.past-delivery-list{
    margin-top: 30px;
    position: relative;
    list-style: none;
    
}

ul.past-delivery-list::before{
    content: '';
    display: inline-block;
    height: calc(100% - 60px);
    position: absolute;
    width: 1px;
    background: #ccc;
    left: 13px;
    top: 15px;
    z-index: 1;
}

ul.past-delivery-list li{
    position: relative;
    z-index: 5;
    padding-left: 10px;
    margin-bottom: 50px;
}

ul.past-delivery-list li::before{
    position: absolute;
    left: -30px;
    top: 5px;
    content: '';
    display: inline-block;
    background: url(../icons/check_circle.svg) #fff no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;

}

ul.past-delivery-list li.prev-order-status-cancelled::before{
    background: url(../icons/cancelled.svg) #fff no-repeat;
}
ul.past-delivery-list li.prev-order-status-skipped::before{
    background: url(../icons/skipped.svg) #fff no-repeat;
}

ul.past-delivery-list li sup{
    text-transform: uppercase;
    background: #83c4c4;
    padding: 5px 5px 3px 5px;
    font-size: 12px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.windrose-foredrop{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1001;
    width: 40%;
    height: 50vh;
    min-height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    padding: 50px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
}

.pause-subscription-wrapper, .cancel-subscription-wrapper{
    height: 300px;
    min-height: 300px;
}
.windrose-backdrop{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease-in-out;
}
.visible{
    opacity: 1;
    visibility: visible;
}

.windrose-frontdrop-content-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    height: 100%;
}

.update-subscription-form{
    width: 100%;
}
.field-form-wrap{
    
}
.field-wrap{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.field-label{
    width: 150px;
}

.foredrop-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: #ccc solid 1px;
    padding-top: 30px;
}

.foredrop-footer .button{
    display: inline-block;
    margin: 0px 10px !important;
}
.windrose-checkbox-field-wrap{
    display: flex;
    align-items: flex-start;
}
.windrose-checkbox, .windrose-label{
    display: inline-block;
    cursor: pointer;
}
.windrose-checkbox{
    margin-right: 12px;
    margin-top: 7px;
}